.flagContent {
    &:last-child {
        padding-bottom: var(--spacing-10);
    }

    .flagHeading {
        border: var(--border);
        color: var(--header-title-color);
        font-size: 1rem;
        display: var(--inline-block);
        margin-right: var(--spacing-20);

        &:last-of-type {
            margin-right: var(--spacing-0);
        }

        span {
            padding: var(--padding-tb1-lr4);
            display: var(--inline-block);

            &:first-of-type {
                background-color: var(--background-color-grey);
                border-right: var(--border);

                &:hover {
                    background-color: var(--background-color-grey-2);
                    cursor: var(--cursor);
                }
            }

            &:last-of-type {
                font-weight: var(--bold);
            }
        }

    }

    .description {
        margin-top: var(--spacing-20);
        margin-bottom: var(--spacing-20);
    }

    .innerCard {
        padding: var(--spacing-16);
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        margin-bottom: var(--spacing-6);
        background-color: #FAFAFA;
    }

    .cardFooter {

        .toggleWrap {
            margin-top: var(--spacing-16);

            .toggleHeading {
                margin-top: 0;
            }

            label.toggleControl {
                position: relative;
                cursor: pointer;
            }

            label.toggleControl span {
                font-size: var(--font-size-small);
            }

            /* Underline the first span when either span is hovered */
            label.toggleControl:hover span:first-of-type {
                text-decoration: underline;
            }

            label.toggleControl span:last-of-type {
                opacity: 0.5;
            }

            label.toggleControl::after {
                content: '\002B';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: auto;
                opacity: 0.5;
                height: 20px;
                margin-left: var(--spacing-4);
            }

            .toggle {
                margin-top: var(--spacing-16);
                max-height: 0;
                visibility: hidden;
                transition: all 0.6s ease-in-out;

                * {
                    opacity: 0;
                    transition: all 0.8s ease-in-out;
                }
            }

            input {
                display: none;

                &:checked+label+.toggle {
                    max-height: 1000vh;
                    visibility: visible;
                    opacity: 1;

                    * {
                        opacity: 1;
                    }
                }

                &:checked+label::after {
                    // content: '\268A';
                    content: '\2212';
                }
            }
        }
    }
}