.container {
    background-color: var(--color-grey);
    border: var(--border);
    border-radius: var(--border-radius-4);
    flex-grow: 1;
    height: auto;
    padding-bottom: var(--spacing-8); // compensate for drop shadow on last card

    .commandHeader {

        margin-bottom: var(--spacing-8);

        h1 {
            font-size: var(--font-size-xxlarge);
            font-weight: var(--bold);

            span {
                font-size: var(--font-size-medium);
                font-weight: var(--normal);
            }
        }

        h2 {
            font-size: var(--font-size-xlarge);
            font-weight: var(--bold);
            margin-bottom: var(--spacing-8);

            span:first-of-type {
                font-size: var(--font-size-medium);
                font-weight: var(--normal);
            }

            span:nth-last-child(2) {
                font-size: var(--font-size-large);
                font-weight: var(--bold);
            }

            span:last-of-type {
                font-size: var(--font-size-small);
                font-weight: var(--normal);
            }
        }

        div:first-of-type {
            padding-bottom: var(--spacing-16);
        }
    }
}