@import './variables.scss';

body {
    display: flex;
    justify-content: center;
    background-color: var(--color-grey-5);
    margin-top: var(--spacing-10);
}

@font-face {
    font-family: 'Gaegu';
    src: local('Gaegu'), url(../fonts/Gaegu-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Gaegu';
    font-weight: 900;
    src: local('Gaegu'), url(../fonts/Gaegu-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'Gaegu';
    font-weight: 900;
    src: local('Gaegu'), url(../fonts/Gaegu-Bold.ttf) format('opentype');
}