body {
    display: flex;
    justify-content: center;
    background-color: #353334;
    margin-top: 10px;
}

@font-face {
    font-family: 'Gaegu';
    src: local('Gaegu'), url(../fonts/Gaegu-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Gaegu';
    font-weight: 900;
    src: local('Gaegu'), url(../fonts/Gaegu-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'Gaegu';
    font-weight: 900;
    src: local('Gaegu'), url(../fonts/Gaegu-Bold.ttf) format('opentype');
}