/* src/styles/variables.css */
:root {
    --background-color-light: #f8f9fa;
    --border-color: #dee2e6;
    --border-radius-1: 1px;
    --header-title-color: #343a40;
    --header-subtext-color: #6c757d;
    --header-padding: 20px;
    --header-margin-bottom: 10px;
    --header-title-font-size: 24px;
    --header-subtext-font-size: 16px;
    --header-logo-margin-right: 20px;
  }  