:root {

  // bg-color
  --background-color-blue: lightblue;
  --background-color-grey: #f8f9fa;
  --background-color-grey-2: #ECEEED;

  // text-color
  --header-title-color: #343a40;
  --header-subtext-color: #6c757d;

  // font
  --font-family-gaegu: 'Gaegu', Arial, serif;
  --header-title-font-size: 4rem;
  --header-subtext-font-size: 4rem;
  --header-logo-margin-right: 20px;

  // pad/margin
  --margin-bottom-10: 10px;
  --content-padding: 16px;

  // border
  --border: 1px solid #dee2e6;
  --container-border: 1px solid #dee2e6;
  --border-radius-4: 4px;

  --cursor: pointer;
}