/* Base styles */
.header {
  padding: var(--spacing-16);
  background-color: var(--color-grey-2);
  border: var(--border);
  border-radius: var(--border-radius-4);
  margin-bottom: var(--spacing-10);

  .headerLogo {
    margin-right: var(--header-logo-margin-right);

    img {
      border: 1px solid #dee2e6;
      border-radius: var(--border-radius);
      padding: 2px;
    }
  }

  h1 {
    font-size: var(--font-size-xxxlarge);
    color: var(--color-grey-3);
    font-family: var(--font-family-gaegu);
    font-weight: var(--bold);
    margin: var(--spacing-0);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .headerSubtext {
    font-family: var(--font-family-gaegu);
    margin: 0;
    font-size: var(--font-size-xxxlarge);
    color: var(--color-grey-4);
  }

}