.copyCodeButton {
    padding: 1px 4px;
    display: inline-block;
    background-color: var(--color-grey);

    &:hover {
        background-color: var(--color-grey-2);
        cursor: var(--cursor);
    }
}